<!DOCTYPE html>
<html th:replace="~{thymeleaf/patron/fregment/patronLayoutBackScript :: patronLayout(~{::title}, ~{::link}, ~{::section}, ~{::style}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artizen 크리에이터</title>
    <!--link 태그 없으면 빈값으로 남겨야됨.-->
    <link/>
    <style></style>
</head>
<body>
<!-- Page Title
		============================================= -->
<section id="page-title">
	
    <div class="container clearfix">
        <h1>크리에이터</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/artizen/patron}">후원이란</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/artizen/patron/creator}">크리에이터</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/artizen/patron/reward}">리워드</a></li>
        </ol>
    </div>

</section><!-- #page-title end -->

<div class="line">
    <!-- Content
            ============================================= -->
    <section id="content">
        <div th:replace="thymeleaf/patron/creator/creatorNav::filter"></div>
        <div class="container clearfix">
            <div class="post-grid row col-mb-30" >
            	<div class="entry col-lg-4 col-md-6 pf-uielements" th:each="patronForm : ${results}">
        			<div th:replace="thymeleaf/patron/creator/creatorProfile::profile(${patronForm})"></div>
            	</div>
            </div>
        </div>
        <!-- Pagination ============================================= -->
        
        
        <ul class="pagination mt-5 pagination-circle pagination-lg justify-content-center" id="pagingNumbers"></ul>
    </section>
    
<script>
    function pageAlgo(totalPageSize, bottomSize, cursor){
       	
        let pageNumList = []
        for (let i = cursor - (bottomSize - 1) ; i <= cursor + (bottomSize - 1); i++ ){
        	if (i >= 1 && i <= totalPageSize){
        		pageNumList.push(i);
        	}
        }
        console.log(pageNumList.toString());
        
        if (pageNumList.length > bottomSize){
        	let modifyPageNumList = []; 
        	let cursorIndex = pageNumList.indexOf(cursor);
        	
        	modifyPageNumList.push(pageNumList[cursorIndex]);
        	let front = cursorIndex - 1;
        	let end = cursorIndex + 1;
        	
        	while (modifyPageNumList.length != bottomSize){
        		if (front >= 0){
        			modifyPageNumList.push(pageNumList[front]);
        		} 
				if (end < pageNumList.length){
            		modifyPageNumList.push(pageNumList[end]);
				}	
          		front -= 1;
          		end += 1;
        	}
        	pageNumList = modifyPageNumList.sort();
        }

        console.log(pageNumList.toString());
        
        var pageNumForm = document.querySelector('#pagingNumbers');
        
        if (cursor > 1) pageNumForm.innerHTML += '<li class="page-item"><a class="page-link" href="creator?page='+ (cursor - 2) +'" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>';	
        
        for (let i = 0 ; i < pageNumList.length; i++){
        	let pageNumber =  pageNumList[i];
        	if (pageNumber == cursor){
        		pageNumForm.innerHTML += '<li class="page-item active"><a class="page-link" href="creator?page=' + (pageNumber-1) +'">'+ pageNumber +'</a></li>';
        	} else{
        		pageNumForm.innerHTML += '<li class="page-item"><a class="page-link" href="creator?page=' + (pageNumber - 1) +'">'+ pageNumber + '</a></li>';
        	}
        }
        
        if (cursor < totalPageSize) pageNumForm.innerHTML += '<li class="page-item"><a class="page-link" href="creator?page=' + cursor + '" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';	
        
    }
    const totalPageSize = [[${results.totalPages}]]
    // 하단크기
    const bottomSize = 5
    //  현재 나의 페이지
    const cursor = [[${results.number}]] + 1
    
    pageAlgo(totalPageSize, bottomSize, cursor)
</script>
</div>
</body>
</html>