<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header semi-transparent dark" th:fragment="header">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a th:href="@{/}" class="standard-logo" style="height: 50px;">
                        <img th:src="@{/images/logo_new/logo_D.png}" alt="Artizen Logo">
                    </a>
                </div><!-- #logo end -->

                <div class="header-misc">

                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search" class="header-misc-icon">
                        <a href="#" id="top-search-trigger">
                            <i class="icon-line-search"></i>
                            <i class="icon-line-cross"></i>
                        </a>
                    </div><!-- #top-search end -->

                    <!-- 로그인 정보-->
                    <div id="top-login" class="header-misc-icon d-none d-sm-block">
                        <a th:href="@{/login}">
                            <i class="icon-line2-login"></i>
                        </a>
                    </div>

                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100">
                        <path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                        <path d="m 30,50 h 40"></path>
                        <path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">

                    <ul class="menu-container">
                        <li class="menu-item">
                            <a class="menu-link" th:href="@{/}">
                                <div>작품</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artwork/ink}">
                                        <div>수묵화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artwork/color}">
                                        <div>채색화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artwork/}">
                                        <div>풍경화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen}">
                                        <div>인물화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen}">
                                        <div>추상화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen}">
                                        <div>정물화</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen}">
                                        <div>팝아트</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" th:href="@{/artizen}">
                                <div>콜라보레이션</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen}">
                                        <div>콜라보레이션</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" th:href="@{/artizen/patron}">
                                <div>후원</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen/patron}">
                                        <div>후원이란</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen/patron/creator}">
                                        <div>크리에이터</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" th:href="@{/artizen/patron/reward}">
                                        <div>리워드</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #primary-menu end -->

                <form class="top-search-form" action="search.html" method="get">
                    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.."
                           autocomplete="off">
                </form>
            </div>
        </div>
    </div>
</header><!-- #header end -->